/* plugin:ocwlabhidden */

div.ocw-hidden {
    margin: 0.5em;
    border-radius: 8px;
    border: solid 2px #FBB;

    div.hidden-title {
        font-weight: bold;
        border-radius: 6px;
        background: #FBB;
        padding: 0.25em 0.5em;
    }

    div.hidden-content {
        padding: 0.4em;
    }
}

